<header>

</header>
<main>
  <div class="container">
    <div [hidden]="submitted">
      <h1>Exam Form</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="name">Number of questions</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="numberOfQuestions" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Number of question is required.
          </div>
        </div>
  
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  
    <div [hidden]="!submitted">
      <h2>Start your exam</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Opt 1</th>
            <th scope="col">Opt 2</th>
            <th scope="col">Opt 3</th>
            <th scope="col">Opt 4</th>
            <th scope="col">Correct</th>
            <th scope="col">Wrong</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let question of arrayQuestion; let i = index">
            <tr [ngClass]="{
              'test': true,
              'table-success': (question.status === 'correct'),
              'table-danger': (question.status === 'wrong'),
              'table-warning': (question.status === 'answered')
          }">
              <th scope="row">{{question.questionNo}}</th>
              <td (click)="onAnswer(question)"><input type="radio" name="question{{question.questionNo}}" value="1"></td>
              <td (click)="onAnswer(question)"><input type="radio" name="question{{question.questionNo}}" value="2"></td>
              <td (click)="onAnswer(question)"><input type="radio" name="question{{question.questionNo}}" value="3"></td>
              <td (click)="onAnswer(question)"><input type="radio" name="question{{question.questionNo}}" value="4"></td>
              <td><button type="button" class="btn btn-success" (click)="onCorrect(question)">Correct</button></td>
              <td><button type="button" class="btn btn-danger" (click)="onWrong(question)">Wrong</button></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      
      <button class="btn btn-primary" (click)="submitted=false">Back</button>
    </div>
  </div>
</main>
<footer>

</footer>

<router-outlet></router-outlet>